## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Exclude reference papers
*.pdf

## Exclude ipython notebooks
*.ipynb
.ipynb_checkpoints/
